.Generatee{
    border: 2px solid red ;
    height: 30rem;
    width: 95%;
    margin-left: 30px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 
    5px 5px 15px rgba(0, 0, 0, 0.3), 
    -5px -5px 15px rgba(255, 255, 255, 0.3), 
    inset 5px 5px 15px rgba(0, 0, 0, 0.1), 
    inset -5px -5px 15px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}
.inputbox{
    height: 30%;
    width: 30%;
    border-radius: 10px;
}
.inputbox:hover{
    box-shadow: 
    5px 5px 15px rgba(207, 27, 14, 0.3), 
    -5px -5px 15px rgba(255, 255, 255, 0.3), 
    inset 5px 5px 15px rgba(89, 112, 62, 0.1), 
    inset -5px -5px 15px rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s ease;

}
.outputbox{
    
    height: 30%;
    width: 30%;
    border-radius: 10px;
}
.outputbox:hover{
    box-shadow: 
    5px 5px 15px rgba(207, 27, 14, 0.3), 
    -5px -5px 15px rgba(255, 255, 255, 0.3), 
    inset 5px 5px 15px rgba(89, 112, 62, 0.1), 
    inset -5px -5px 15px rgba(255, 255, 255, 0.3);
    transition: background-color 0.1s ease;
}